@font-face {
    font-family: 'title';
    src: url('../../fonts/pixel12x10/Pixel12x10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }


.nav-wrapper{
  display: inline-flex;
  height: 15em;
  align-items: center;
  /* text-align: center; */
  justify-content: center;
  width:100%;

  /* border-style: solid;
  border-width: 5px; */

  background: rgb(253, 242, 223);
}
.nav-wrapper>h1{
  font-family: 'title';

  /* word-spacing: .4em; */
  letter-spacing: .8em;
  font-size: 3em;
  color:cornflowerblue;
  transition: color 1s;
  align-content: center;
  /* padding: 20px */
  
}

.nav-wrapper>h1:hover{
  color: blue;
}


.nav-btn{
  font-size: 40px;
  border: none;
  color:rgba(100, 148, 237, 0.3);
  background: inherit;
  justify-self: flex-start;
}



/* <div id="toc-holder" class="toc-holder">
			<a href="#" class="toc-link" id="toc-link"><span>&#9776;</span></a>
			<ul id="toc" class="toc">
				<li class="toc-h1"><a href="#about">About</a></li>
				<li class="toc-h1"><a href="#resume">Résumé</a></li>
				<li class="toc-h1"><a href="#work">Work</a></li>
			</ul>
		</div> */